# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Environment files
.env
.env.backup
.env.production

# Laravel
/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/bootstrap/cache/*.php

# IDE
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed

# Laravel auth
/auth.json

# Homestead
Homestead.json
Homestead.yaml

# Firebase (PENTING)
firebase-service-account.json
storage/app/firebase