# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Environment files
.env
.env.backup
.env.production

# Laravel
/vendor
/node_modules
/public/build
/public/hot
/public/storage

/storage/*.key
/storage/logs

# ✅ FIX STORAGE (WAJIB UNTUK RAILWAY)
/storage/framework/cache/*
!/storage/framework/cache/data/
!/storage/framework/cache/data/.gitkeep

/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep

/storage/framework/views/*
!/storage/framework/views/.gitkeep

/bootstrap/cache/*.php
!/bootstrap/cache/.gitkeep

# IDE
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed

# Laravel auth
/auth.json

# Homestead
Homestead.json
Homestead.yaml

# Firebase (PENTING)
firebase-service-account.json
storage/app/firebase